<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itany.mapper.BookSupplierMapper">

    <resultMap id="bookSupplierMapper" type="BookSupplier">
        <id property="id" column="id"/>
        <result property="sellNum" column="sellnum"/>
        <result property="number" column="number"/>
        <result property="bookId" column="bookid"/>
        <result property="supplierId" column="supplierid"/>


    </resultMap>

    <sql id="bookSupplierSql">
      id,
      bookid,
      supplierid,
      sellnum,
      number
    </sql>

    <insert id="insertBookSupplier">
        insert into
          t_book_supplier
          (bookid,supplierid,number)
        values
          (#{bookId},#{supplierId},#{number})
    </insert>

    <update id="updateForNumberOrSellNumById">
        update
          t_book_supplier
        <set>
            <if test="null != sellNum and '' != sellNum" >
              sellnum = #{sellNum},
            </if>
            <if test="null != number and '' != number">
                number = #{number},
            </if>
        </set>
        where
          id = #{id}
    </update>

    <select id="selectByBookIdAndSupplierId" resultMap="bookSupplierMapper">
      select
        <include refid="bookSupplierSql"/>
      from
        t_book_supplier
      where
        bookid = #{bookId} and supplierid = #{supplierId}
    </select>

</mapper>