<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itany.mapper.RoleMapper">


    <resultMap id="roleMapper" type="Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="permissions" column="p.id" ofType="Permission">
            <id property="id" column="p.id"/>
            <result property="name" column="p.name"/>
            <result property="url" column="url"/>
            <result property="sName" column="sname"/>
            <association property="parent" column="parentid" javaType="Permission" >
                <id property="id" column="pp.id"/>
                <result property="name" column="pp.name"/>

            </association>
        </collection>
    </resultMap>

    <sql id="roleSql">
        r.id,
        r.name,
        p.id 'p.id',
        p.name 'p.name',
        p.url,
        p.sname,
        p.parentid,
        pp.id 'pp.id',
        pp.name 'pp.name'

    </sql>

    <select id="selectAll" resultMap="roleMapper">
        select
          id,name
        from
          t_role
    </select>

    <select id="selectByConditions" resultMap="roleMapper">
        select
          <include refid="roleSql"/>
        from
          t_role r
        left join
          t_role_permission rp
        on
          r.id = rp.roleid
        left join
          t_permission p
        on
          rp.permissionid = p.id
        left join
          t_permission pp
        on
          p.parentid = pp.id
        <where>
            <if test="null != name and ''!= name">
                <bind name="name" value="'%'+_parameter.name+'%'"/>
                and r.name like #{name}
            </if>
        </where>

    </select>

    <update id="updateByConditions">
        update
          t_role
        <set>
            <if test="null != name and '' != name">
                name = #{name},
            </if>
        </set>
        where
          id = #{id}

    </update>

    <delete id="deleteById" >
        delete from
          t_role
        where
          id = #{id}
    </delete>

    <!--<resultMap id="test" type="Role">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="name" column="name"/>-->


    <!--</resultMap>-->


    <!--<select id="selectByConditions" resultMap="test">-->
        <!--select-->
          <!--id,name-->
        <!--from-->
          <!--t_role-->
        <!--where-->
          <!--id in (select roleid from t_role_permission where permissionid in (select id from t_permission))-->

    <!--</select>-->
</mapper>