<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.itany.mapper.SupplierMapper">

    <resultMap id="supplierMapper" type="Supplier">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="flag" column="flag"/>
        <result property="info" column="info"/>
        <result property="linkman" column="linkman"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="createtime"/>
    </resultMap>

    <sql id="supSql">
        id,name,flag,info,linkman,phone,createtime
    </sql>

    <select id="selectByFlag" resultMap="supplierMapper">
        select
          <include refid="supSql"/>
        from
          t_supplier
        where
          flag = #{flag}
    </select>
</mapper>