<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>注册页</title>
		<!-- 设置360浏览器渲染引擎 -->
		<meta name="renderer" content="webkit">
		<link rel="icon" type="image/png" href="/user/static/img/favicon.png">
		<link rel="stylesheet" type="text/css" href="/user/static/amazeui/css/amazeui.css" />
		<script type="text/javascript" charset="utf-8" src="/user/static/js/jquery.js"></script>
		<script type="text/javascript" charset="utf-8" src="/user/static/amazeui/js/amazeui.js"></script>
		<!-- 全局CSS -->
		<link rel="stylesheet" href="/user/static/css/base.css">
		<!-- 当前页面 css -->
		<link rel="stylesheet" type="text/css" href="/user/static/css/register.css"/>
		<!-- 当前页面功能 js -->
		<script src="/user/static/js/pages/register.js"></script>
		<script>

			//提交表单
			function submit() {
				//前端校验。。。

				//获取
				$.ajax({
					type:'post',
					url:'/user/user/register',
					data:{
						phone:$("#doc-ipt-3").val(),
						password:$("#doc-ipt-pwd-1").val(),
						code:$("#code").val(),
						username:$('#username').val()
					},
					dataType:'json',
					success:function (result) {
						if(result.success){
							location.href="/user/login";
						}
					}
				})
			}

			$(function () {

				$('#getCode').click(function () {

					$.ajax({
						type:'post',
						data:{
							phone:$('#doc-ipt-3').val()
						},
						url:'/user/user/getCode',
						dataType:'json',
						success:function (result) {
							if(result.success){
								alert('验证码发送成功!');
							}else {
								alert('验证码发送失败!');
							}
						}
					})
				})
			})

		</script>

	</head>
	<body>
		<!-- nav-start -->
		<header>
			<div class="base-nav">
				<ul class="am-g am-g-fixed">
					<li class="am-u-sm-6">
						<img class="nav-img" src="/user/static/img/logo.png">
					</li>
					<li class="am-u-sm-2">
						<div>√</div>
						<span>正版好图书</span>
					</li>
					<li class="am-u-sm-2">
						<div>邮</div>
						<span>全场满69包邮</span>
					</li>
					<li class="am-u-sm-2">
						<div>折</div>
						<span>特价书一折起</span>
					</li>
				</ul>
			</div>
			
		</header>
		<!-- nav-end -->

		<!-- register-start -->
		<div class="am-g am-g-fixed reg-body">
			<div class="reg-title am-g">
				<h2 class="am-u-sm-2">新用户注册</h2>
				<span class="am-u-sm-3">已有账号?<a href="#">请登录</a></span>
			</div>
			<div class="reg-content">
				<form class="am-form am-form-horizontal">
					<div class="am-form-group">
						<label for="username" class="am-u-sm-2 am-form-label">用户名:</label>
						<div class="am-u-sm-5  am-u-end">
							<input type="text" id="username" name="username" placeholder="请输入用户名">
						</div>
					</div>

					<div class="am-form-group">
					    <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">手机号码:</label>
					    <div class="am-u-sm-5  am-u-end">
					        <input type="text" id="doc-ipt-3" name="phone" placeholder="请输入您的常用手机号码">
					    </div>
					</div>

					<div class="am-form-group">
					    <label for="doc-ipt-pwd-1" class="am-u-sm-2 am-form-label">设置密码:</label>
					    <div class="am-u-sm-5  am-u-end">
					        <input type="password" id="doc-ipt-pwd-1" name="password" placeholder="请输入密码">
					    </div>
					</div>

					<div class="am-form-group">
					    <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">确认密码:</label>
					    <div class="am-u-sm-5  am-u-end">
					        <input type="password" id="doc-ipt-pwd-2" placeholder="请再次输入密码">
					    </div>
					</div>

					<div class="am-form-group">
					    <label for="doc-ipt-code-1" class="am-u-sm-2 am-form-label">验证码:</label>
					    <div class="am-u-sm-3  am-u-end">
					        <input type="text" id="doc-ipt-code-1" placeholder="请输入右图验证码">
					        <p class="code" id="imgCode"></p>
					        <p class="change"><a href="javascript:void(0)" onclick="change()">换一换</a></p>
					    </div>
					</div>

					<div class="am-form-group phone-code">
					    <label for="code" class="am-u-sm-2 am-form-label">手机验证码:</label>
					    <div class="am-u-sm-3  am-u-end">
					        <input type="password" id="code" name="code" placeholder="请输入验证码" >
						</div>
						<div class="am-u-sm-2  am-u-end">
							<div class="get-code">
								<a href="#" id="getCode">获取验证码</a>
							</div>
						</div>
					</div>

					<div  class="am-form-group">
						<div class="am-u-sm-5  am-u-end">
						 	<!--<input type="button" onclick="submit()"  class="am-btn am-btn-block">立即注册</input>-->
							<a href="#" onclick="submit()"  >立即注册</a>
						</div>
					</div>
				</form>
			</div>
			 
		</div>
		<!-- register-end -->
		<!-- foot start -->	
		<div class="base-shop-foot">
			<p>© 2018 南京网博优壹 by 项目组-chw <br>2018年03月21日23:20:50</p>
		</div>
		<!-- foot end -->
	</body>
</html>