<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript">

        let bookId;
	    //工具栏
	    var toolbar = [{
	        text: '修改',
	        iconCls: 'icon-edit',
	        handler: function () {  $('#dd').dialog('open');}
	    }, '-', {
	        text: '启用',
	        iconCls: 'icon-ok',
	        handler: function () {
	            console.log("bookId:"+bookId);
	            $.ajax({
                    type:'post',
                    url:'/manager/book/enableBook/'+bookId,
                    dataType:"json",
                    success:function(data){
                        if(data.success){
                            $('#booklist').datagrid('reload');
                        }
                    }

                })
            }
	    }, '-', {
	        text: '禁用',
	        iconCls: 'icon-cancel',
	        handler: function () {
                console.log("bookId:"+bookId);

                $.ajax({
                    type:'post',
                    url:'/manager/book/disableBook/'+bookId,
                    dataType:"json",
                    success:function(data){
                        if(data.success){
                            $('#booklist').datagrid('reload');
                        }
                    }
                })
	        }
	    }];
	   $(function(){

	       $('#booklist').datagrid({
				title:'书籍列表',  
				iconCls:'icon-save',   
				url:'/manager/book/findByConditions',
				columns:[
				    [
					{field:'bookName',title:'名称',width:100,align:'center'},
					{field:'author',title:'作者',width:200,align:'center'},
					{field:'price',title:'单价',width:80,align:'center'},
					{field:'iSBN',title:'ISBN',width:200,align:'center'},
					{field:'press',title:'出版社',width:200,align:'center',formatter(value,row,index){
                            return value.name;
                        }},
	                {field:'supplierName',title:'供货商',width:500,align:'center'},
                        {field:'flag',title:'审核状态',width:80,align:'center',formatter:function (value,row,index) {
                                if(value == 2){
                                    return '禁用';
                                }
                                if(value == 1){
                                    return '启用';
                                }
                            }}
				]
                ],
				toolbar: toolbar,  
				pagination: true,//表示在datagrid设置分页              
               	pageSize: 5,
				singleSelect:true,
                pageList: [5,10,20],
                onSelect:function (index,row) {
                   bookId = row.id;
                   $("input[name='id']").val(bookId)

                }
			});


		 //初始化查询栏
         $("#submit_search").linkbutton({ iconCls: 'icon-search', plain: true })
            .click(function () {
                $('#booklist').datagrid({queryParams:{
                        bookName:$("#bookNameForSearch").val(),
                        ISBN:$("#ISBNForSearch").val(),
                        supplierId:$('#findAllSuppliers').combobox('getValue'),
                        pressId:$('#findAllPresses').combobox('getValue')
                    }
                })  //点击搜索
            });
          
          //初始化修改窗口  
         $('#dd').dialog({
			    title: '修改书籍',
			    width: 700,
			    height: 500,
			    closed: true,
			    cache: false,
			    href: '',
			    modal: true,
			    iconCls: 'icon-save',
                buttons: [{
                    text:'提交',
                    iconCls:'icon-ok',
                    handler:function(){
                        let formData = new FormData($("#ff")[0]);

                        $.ajax({
                            type:'post',
                            url:'/manager/book/updateBook',
                            data:formData,
                            dataType:"json",
                            contentType:false, // 告诉jquery不要设置content-Type头
                            processData:false,//告诉jquery 不要去处理请求参数 url-encode
                            success:function(data){
                                if(data.success){
                                    $('#dd').dialog('close');
                                    $('#booklist').datagrid('reload');
                                }
                            }
                        })
                    }
                },{
                    text:'关闭',
                    handler:function(){
                        $('#dd').dialog('close');
                    }
                }]
			});

           $('#findAllSuppliers').combobox({
               url:'/manager/supplier/findAllSuppliers',
               prompt:'请选择',
               //指定value属性
               valueField:'id',
               //指定文本属性
               textField:'name',
               editable:true
           });

           $('#findAllPresses').combobox({
               url:'/manager/press/findAllPresses',
               prompt:'请选择',
               //指定value属性
               valueField:'id',
               //指定文本属性
               textField:'name',
               editable:true
           });
            
	   });
	</script>
</head>
<body>
   <form name="searchform" method="post" action="" id ="searchform">
    <td width="70" height="30"><strong>书籍查询：</strong></td>
    <td height="30">
        <input type="text" id="bookNameForSearch" name="keyword" size=20 placeholder="书籍名称"/>
        <input type="text" id="ISBNForSearch" name="keyword" size=20 placeholder="ISBN"/>
        <!--<select name="search_type" id="presses" >-->
            <!--<option value="-1">请选择出版社</option>-->
            <!--<option value="be_name" >出版社1</option>-->
            <!--<option value="be_intro">出版社2</option>-->
            <!--<option value="be_intro">出版社3</option>-->
        <!--</select>-->
        <!--<select name="search_type" id="suppliers" >-->
            <!--<option value="-1">请选择供应商</option>-->
            <!--<option value="be_name" >供应商1</option>-->
            <!--<option value="be_intro">供应商2</option>-->
            <!--<option value="be_intro">供应商3</option>-->
        <!--</select>-->
        <input id="findAllSuppliers"/>
        <input id="findAllPresses"/>
        编辑推荐:<input type="checkbox" name="" value=""/>
        本周精选:<input type="checkbox" name="" value=""/>
    </td>
	<td>
	  <a id="submit_search">搜索</a>
	</td>
  </form>
  <table id="booklist"></table>
    <div id="dd">
        <div align="center" style="margin-top: 30px">

        <form id="ff" method="post">
            <input type="hidden" name="id">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="bookName" style="width:50%" data-options="label:'书籍名称:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="price" style="width:50%" data-options="label:'单价:',required:true,validType:'email'">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="groupPrice" style="width:50%" data-options="label:'团购价:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="bookIntroduce" style="width:50%;height:60px" data-options="label:'书籍简介:',multiline:true">
            </div>
             <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="authorIntroduce" style="width:50%;height:60px" data-options="label:'作者简介:',multiline:true">
            </div>
             <div style="margin-bottom:20px">
               封面图片:&nbsp;&nbsp;&nbsp;&nbsp; <input  name="file" type="file"/>
            </div>
            <div style="margin-bottom:20px">
               编辑推荐:<input type="checkbox" name="" value=""/>
               本周精选:<input type="checkbox" name="" value=""/>
            </div>
        </form>
        </div>
    </div>


</body>
</html>