<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, managerUser-scalable=no">
		<title>登陆</title>
		<link rel="stylesheet" href="css/login.css">
		<script src="./js/jquery-1.4.2.min.js"></script>
		<!--背景图片自动更换-->
		<script src="./js/supersized.3.2.7.min.js"></script>
		<script src="./js/login-page/login-supersized-init.js"></script>

		<script>
			$(function () {
				$("#submit").click(function () {

					$.ajax({
						type:"post",
						url:"/manager/user/login",
						data:{
							username:$("#username").val(),
							password:$("#password").val()
						},
						dataType:"json",
						success:function (result) {
							console.log("result:"+result);
							if(result.success){
								location.href="/manager/index";
							}else{
								$("#errorMsg").html(result.msg);
							}
						}
					});
				});
			})


		</script>
	</head>
	<body>
		<div class="login-container">
			<h1>ITANY 书城</h1>
			<div class="connect">
				<p>后台维护管理系统</p>
			</div>
			<form action="index.html" method="post" id="loginForm">
				<div>
					<input type="text" id="username" name="username" class="username" placeholder="用户名" autocomplete="off" />
				</div>
				<div>
					<input type="password" id="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
				</div>
				<div id="errorMsg">

				</div>
				<button id="submit" type="button">登 陆</button>
			</form>
		</div>
	</body>
</html>