<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript">
	    //工具栏
	    var toolbar = [{
	        text: '新增',
	        iconCls: 'icon-add',
	        handler: function () {  $('#dd').dialog('open');}
	    }, '-',{
	        text: '修改',
	        iconCls: 'icon-edit',
	        handler: function () {  $('#forModifying').dialog('open');}
	    }];
	   $(function(){

	       let id;

	       $('#userlist').datagrid({  
			title:'管理员列表',  
			iconCls:'icon-save',   
			url:'/manager/user/findByConditions',
			columns:[
			    [
				{field:'id',title:'管理员ID',width:100,align:'center'},
				{field:'username',title:'管理员名称',width:100,align:'center'},
				{field:'password',title:'管理员密码',width:100,align:'center'},
				{field:'roles',title:'拥有的角色',width:200,align:'center',formatter:format}
			]
            ],
			pagination:true,
			toolbar: toolbar,
            singleSelect:true,
            onSelect:function (index,row) {
               id = row.id;
               $("#_easyui_textbox_input4").val(id);


            }
		});
		 //初始化查询栏
		 $("#submit_search").linkbutton({ iconCls: 'icon-search', plain: true })
            .click(function () {
                $('#userlist').datagrid({ queryParams: {
                        username:$("#username").val()
                    }
                });   //点击搜索
            });

           //修改窗口
           $('#forModifying').dialog({
               title: '修改',
               width: 700,
               height: 500,
               closed: true,
               cache: false,
               href: '',
               modal: true,
               iconCls: 'icon-save',
               buttons: [{
                   text:'提交',
                   iconCls:'icon-ok',
                   handler:function(){
                       submitForModify();
                       $("#forModifying").dialog('close')
                   }
               },{
                   text:'关闭',
                   handler:function(){
                       $("#forModifying").dialog('close')
                   }
               }]
           });

          //初始化添加窗口
         $('#dd').dialog({
            title: '添加',
            width: 700,
            height: 500,
            closed: true,
            cache: false,
            href: '',
            modal: true,
            iconCls: 'icon-save',
            buttons: [{
                text:'提交',
                iconCls:'icon-ok',
                handler:function(){
                    submit();
                }
            },{
                text:'关闭',
                handler:function(){
                    $("#dd").dialog('close')
                }
            }]
         });
			
		   //tree选项框初始化
           $("#ah").tree({
               url:'/manager/role/findAll',
               method:'post',
               animate:true,
               checkbox:true,
               idFiled:"id",
               treeField:"name",
               formatter:function (node) {
                   return node.name;
               }
           });

           //tree选项框初始化
           $("#ahForModifying").tree({
               url:'/manager/role/findAll',
               method:'post',
               animate:true,
               checkbox:true,
               idFiled:"id",
               treeField:"name",
               formatter:function (node) {
                   return node.name;
               }
           });

           function submit(){
               let ids='';
               var nodes = $('#ah').tree('getChecked');
               console.log(nodes);
               for(var j = 0;j < nodes.length;j++){
                   ids = ids+nodes[j].id+',';
               }
               console.log(ids);
               $.ajax({
                   type:'post',
                   url:'/manager/user/add',
                   data:{
                       username:$("#username").val(),
                       password:$("#password").val(),
                       ids:ids
                   },
                   dataType:'json',
                   success:function (result) {
                        if(result.success){
                            $('#userlist').datagrid('reload');
                            $("#dd").dialog('close');
                        }
                   }

               })
           }

           function submitForModify(){


               $.ajax({
                   type:'post',
                   url:'/manager/user/modify',
                   data:{
                       id:$("#_easyui_textbox_input4").val(),
                       username:$("#usernameForModifying").val(),
                       password:$("#passwordForModifying").val(),
                       ids:ids
                   },
                   dataType:'json',
                   success:function (result) {
                       if(result.success){
                           $('#userlist').datagrid('reload');
                           $("#forModifying").dialog('close');
                       }
                   }

               })
           }

	   });
	   
	    //列格式化方法
	   function format(val,row){

	       let roles = row.roles;
	       console.log(roles);

           var sel="<select id='search_type' name='search_type' style='width:100%'>";

	       for(let i = 0;i<roles.length;i++){
               sel+= "<option value='"+roles[0].id+"'>"+roles[i].name+"</option>";

           }
           return sel+"</select>";
		}
	</script>
</head>
<body>
   <form name="searchform" method="post" action="" id ="searchform">
    <td width="70" height="30"><strong>管理员查询：</strong></td>
    <td height="30">
        <input type="text" name="username" size=20 placeholder="管理员名称"/>
        <a id="submit_search">搜索</a>
    </td>
  </form>
  <table id="userlist"></table>
    <div id="dd">
        <div align="center" style="margin-top: 30px">
            <form id="ff" method="post">
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" id="userId" style="width:50%" data-options="label:'管理员ID:'" readonly="readonly"/>
                </div>
                 <div style="margin-bottom:20px">
                    <input class="easyui-textbox"  type="text" id="username" style="width:50%" data-options="label:'管理员名称:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" type="password" id="password" style="width:50%" data-options="label:'管理员密码:',required:true">
                </div>
                <div style="margin-bottom:20px">
                      <table style="width:48%">
                        <td valign="top" style="width:50px">
                                                                  角色:
                        </td>
                        <td><ul id="ah"></ul></td>
                      </table>
                </div>
            </form>
        </div>
    </div>

   <div id="forModifying">
       <div align="center" style="margin-top: 30px">
           <form id="ffForModifying" method="post">
               <div style="margin-bottom:20px">
                   <input class="easyui-textbox" id="userIdForModifying" style="width:50%" data-options="label:'管理员ID:'" readonly="readonly"/>
               </div>
               <div style="margin-bottom:20px">
                   <input class="easyui-textbox"  type="text" id="usernameForModifying" style="width:50%" data-options="label:'管理员名称:',required:true">
               </div>
               <div style="margin-bottom:20px">
                   <input class="easyui-textbox" type="password" id="passwordForModifying" style="width:50%" data-options="label:'管理员密码:',required:true">
               </div>
               <div style="margin-bottom:20px">
                   <table style="width:48%">
                       <td valign="top" style="width:50px">
                           角色:
                       </td>
                       <td><ul id="ahForModifying"></ul></td>
                   </table>
               </div>
           </form>
       </div>
   </div>

</body>
</html>