<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>权限列表</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript">

        let roleId;
	    //工具栏
	    var toolbar = [{
	        text: '修改',
	        iconCls: 'icon-edit',
	        handler: function () {  $('#dd').dialog('open');}
	    }, '-', {
	        text: '删除',
	        iconCls: 'icon-cancel',
	        handler: function () {
                confirm("是否确定要删除？")
                $.ajax({
                    type:'post',
                    url:'/manager/role/delete/'+roleId,
                    dataType:'json',
                    success:function (result) {
                        if(result.success){
                            $('#userlist').datagrid('reload');
                            alert("删除成功！")
                        }
                    }

                })
            }
	    }];
	   $(function(){

	       $('#userlist').datagrid({  
			title:'角色列表',  
			iconCls:'icon-save',   
			url:'/manager/role/findByConditions',
			columns:[
			    [
				{field:'id',title:'角色ID',width:100,align:'center'},
				{field:'name',title:'角色名称',width:100,align:'center'},
				{field:'permissions',title:'角色拥有的权限[权限名 | 权限URL | 模块名 | 操作名 ]',width:500,align:'center',formatter:format}
			]
            ],
            singleSelect:true,
			pagination:true,
			toolbar: toolbar,
            onSelect:function (index,row) {

                roleId = row.id;
                $("#_easyui_textbox_input1").val(roleId);
            }
		});
		 //初始化查询栏
		 $("#submit_search").linkbutton({ iconCls: 'icon-search', plain: true })
            .click(function () {
                $('#userlist').datagrid({ queryParams: {
                        name:$("#name").val()
                    }
                });   //点击搜索
            });
          
          //初始化修改窗口  
         $('#dd').dialog({
			    title: 'My Dialog',
			    width: 700,
			    height: 500,
			    closed: true,
			    cache: false,
			    href: '',
			    modal: true,
			    iconCls: 'icon-save',
                buttons: [{
                    text:'提交',
                    iconCls:'icon-ok',
                    handler:function(){

                        let ids='';
                        var nodes = $('#ah').tree('getChecked');
                        for(var j = 0;j < nodes.length;j++){
                            ids = ids+nodes[j].id+',';
                        }

                        $.ajax({
                            type:'post',
                            url:'/manager/role/modify',
                            data:{
                                id:roleId,
                                name:$("#_easyui_textbox_input2").val(),
                                permissionIds:ids
                            },
                            dataType:'json',
                            success:function (result) {
                                if(result.success){
                                    $('#userlist').datagrid('reload');
                                    $('#dd').dialog('close')
                                }
                            }


                        })
                    }
                },{
                    text:'关闭',
                    handler:function(){
                        $('#dd').dialog('close')
                    }
                }]
			});
			
		   //tree选项框初始化
           $("#ah").tree({
               url:'/manager/permission/findAll',
			   method:'post',
			   animate:true,
			   checkbox:true,
               idFiled:"id",
               treeField:"name",
               formatter:function (node) {
                   return node.name;
               }

           });
            
	   });

        function getTrueData(data) {
            console.log(data);
            if(undefined == data ){
                return '';
            }else{
                return data.name;
            }

        }

	    //列格式化方法
	   function format(val,row){

	       let permissions = row.permissions;

           var sel="<select id='search_type' name='search_type' style='width:100%'>";

           for(let i = 0;i<permissions.length;i++){
               sel+= "<option value='"+permissions[0].id+"'>"+permissions[i].name+"    "
                   +permissions[i].url+"    "
                   +getTrueData(permissions[i].parent)+"    "
                   +permissions[i].sName+"    "
                   +"</option>";

           }
           return sel+"</select>";
	  }


	</script>
</head>
<body>
   <form name="searchform" method="post" action="" id ="searchform">
    <td width="70" height="30"><strong>角色查询：</strong></td>
    <td height="30">
        <input type="text" id="name" size=20 placeholder="角色名称"/>
        <a id="submit_search">搜索</a>
    </td>
  </form>
  <table id="userlist"></table>
    <div id="dd">
           <div align="center" style="margin-top: 30px">
            <form id="ff" method="post">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="name" style="width:50%" data-options="label:'角色ID:'" readonly="readonly"/>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="name" style="width:50%" data-options="label:'角色名称:',required:true">
            </div>
             <div style="margin-bottom:20px">
                  <table style="width:48%">
                    <td valign="top" style="width:50px">
                                                              权限:
                    </td>
                    <td><ul id="ah"></ul></td>
                  </table>
            </div>
        </form>
           </div>
    </div>
</body>
</html>