@charset "utf-8";
.bts-type{
    margin-bottom: 16px;
    border-bottom: 1px dashed #cccccc;
}
.bts-type h4{
    margin: 0px;
}
.bts-type ul{
    margin: 0px;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    list-style: none;
    font-size: 14px;
    padding: 16px 20px;
    line-height: 30px;
}
.bts-type ul li{
    display: inline;
    display: inline;
    padding-right: 12px;
    padding-left: 6px;
    border-right: 1px solid #cccccc;
}
.bts-type ul li a{
    color: #333333;
    white-space: nowrap;
}
.bts-type ul li a:hover{
    color: #ff5000;
    white-space: nowrap;
}